.circle{
    margin: 70px auto;
    width: 40px;
    height: 40px;
    border: 5px solid rgba(143, 104, 104, 0.6);
    border-radius: 50%;
    border-top-color: #f1e7cc;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
  }