.character-wrapper {
    list-style: none;
    margin: 0 auto;

    .character-item {
        width: 300px;
        min-height: 428px;
        border: 1px solid #baa86a;
        border-radius: 6px;
        display: flex;
        flex-direction: column;
        padding: 5px;
        background: #0a0a0a; 
        color: #f1e7cc;
        margin: 0px 20px 20px 20px;

        .header {
            padding: 0 10px;
            border: 1px solid #baa86a;
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-size: 19px;
            min-height: 60px;

            .index {
                min-width: 50px;
                height: 50px;
                position: relative;
                .img {
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    img {
                        width: 100%;
                        height: 100%;
                        border: 2px solid #bbae7f;
                        border-radius: 100%;
                    }
                }

                .index-number {
                    position: absolute;
                    right: 50%;
                    top: 50%;
                    transform: translate(50%, -50%);
                    font-size: 20px;
                }
            }

            img {
                width: 50px;
            }
        }

        .picture {
            width: 100%;
            margin-top: 5px;
            height: 200px;
            border: 1px solid #baa86a;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: top;
            }
        }

        .race {
            margin-top: 5px;
            border: 1px solid #baa86a;
            display: flex;
            align-items: center;
            justify-content: center;
            img{
                width: 20px;
                margin-right: 10px;
            }
        }

        .info {
            font-size: 14px;
            width: 100%;
            margin-top: 5px;
            min-height: 110px;
            border: 1px solid #baa86a;
            text-align: start;
            position: relative;
            padding-left: 10px;
            .death {
                padding-bottom: 17px;
            }

            .link {
                margin-top: 10px;
                position: absolute;
                bottom: 0;
                right: 50%;
                transform: translate(50%);
                width: 100%;
                text-align: center;
                a {
                    text-decoration: none;
                    color: white;
                    &:hover{
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 656px) {
    .character-wrapper {
        .character-item {
            margin: 0 0 20px 0;
        }
    }
}