@import "../../variables";

@font-face {
    font-family: "elfic";
    src: url("../../../font/TheOneRing.ttf") format("truetype");
}

@font-face {
    font-family: "lotr";
    src: url("../../../font/lotr.TTF") format("truetype");
}

.character-wrapper {
    list-style: none;
    margin: 0 auto;
    position: relative;
    .points {
        position: absolute;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 30px;
        margin: 0 auto;
        right: 50%;
        transform: translate(50%);
        top: 1px;
        div {
            width: 3px;
            height: 3px;
            background-color: $color-dark-golden;
            border-radius: 100%;
        }
    }

    .character-item {
        width: 300px;
        min-height: 428px;
        border: 1px solid $color-dark-golden;
        border-radius: 6px;
        display: flex;
        flex-direction: column;
        padding: 5px;
        background: #0a0a0a;
        color: $color-light-golden;
        margin: 0px 20px 20px 20px;
        position: relative;
        padding-bottom: 20px;
        transition: 0.2s ease-in-out;

        .header {
            padding: 0 10px;
            border: 1px solid $color-dark-golden;
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-size: 16px;
            min-height: 60px;

            .index {
                min-width: 40px;
                height: 40px;
                margin-right: 10px;
                position: relative;
                .img {
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    img {
                        width: 100%;
                        height: 100%;
                        border: 2px solid $color-dark-golden;
                        border-radius: 100%;
                    }
                }

                .index-number {
                    position: absolute;
                    right: 50%;
                    top: 50%;
                    transform: translate(50%, -50%);
                    font-size: 16px;
                }
            }

            img {
                width: 50px;
            }
        }

        .picture {
            width: 100%;
            margin-top: 5px;
            height: 200px;
            border: 1px solid $color-dark-golden;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: top;
            }
        }

        .race {
            margin-top: 5px;
            border: 1px solid $color-dark-golden;
            display: flex;
            align-items: center;
            justify-content: center;
            img {
                width: 20px;
                margin-right: 10px;
            }
        }

        .info {
            font-size: 14px;
            width: 100%;
            margin-top: 5px;
            min-height: 110px;
            border: 1px solid $color-dark-golden;
            text-align: start;
            position: relative;
            padding-left: 10px;

            .death {
                padding-bottom: 17px;
            }

            .link {
                margin-top: 10px;
                position: absolute;
                bottom: 0;
                right: 50%;
                transform: translate(50%);
                width: 100%;
                text-align: center;
                a {
                    font-family: "lotr";
                    text-transform: lowercase;
                    letter-spacing: 1px;
                    font-weight: 100;
                    font-size: 13px;
                    text-decoration: none;
                    color: $color-light-golden;
                    &:hover {
                        text-decoration: underline;
                        color: rgb(114, 164, 220);
                    }
                }
            }
        }

        .elfic-font {
            font-family: "elfic";
            font-size: 35px;
            font-weight: 100;
            position: absolute;
            bottom: -9px;
            right: 5px;
        }
    }
}

@media screen and (max-width: 656px) {
    .character-wrapper {
        .character-item {
            margin: 0 0 20px 0;
        }
    }
}
